<h2>Basil Stag Hare</h2>
<img src="/assets/basilstaghare.jpg" alt="a heroic looking hare">
<p>Basil Stag Hare was previously a member of the Fur and Foot Fighting Patrol,<br>
  as well as an outfit known as the 47th Hare Border Rangers. Due to his admiration for stags,<br>
  whom he thought as noble creatures, he took his middle name for the creature.<br><br>
  He was an expert in camouflage, and was well-known for his appetite, as is the case with most hares.<br>
  He lived alone in Mossflower Woods and became a close ally of Matthias. Soon thereafter, he moved into Redwall Abbey.<br>
  Basil also knew Captain Snow, whom he had rescued from a fallen tree, and Squire Julian.<br>
  He and Jess Squirrel recovered the tapestry of Martin the Warrior from Cluny the Scourge,<br>
  during which he suffered a self-described "honorable war wound."</p>

  {{basil.message}}
