<h2>Matthias of Redwall</h2>
<img src="assets/matthias.jpg" alt="Matthias of Redwall">
<p>Matthias, later called Matthias the Warrior, was a male mouse of Redwall Abbey and the husband of Cornflower,<br>
  father of Mattimeo, and the grandfather of Martin II. He was liked by many and <br>
  expected by Abbot Mortimer to join the Order of Monks as a peaceful care-giver. <br>
  However, Matthias had the spirit of a warrior, always yearning for more to life and he had a passion for fighting.<br>
  Matthias, like his friend Methuselah, could understand the sparrows' strange way of speaking.<br>
  Nobody knew who his family was, he was found alone outside of Redwall in Mossflower Woods when he was an infant.</p>

{{matthias.message}}
