<h2>Lord Stonepaw of Salamandastron</h2>
<img src="assets/stonepaw.jpg" alt="Lord Stonepaw of Salamandastron">
<p>Lord Stonepaw was the earliest Badger Lord who appeared as an actual character (and not just a mention) in the Redwall canon. <br>
Towards the end of his reign, the unprotected mountain was besieged by the hordes of the wildcat Ungatt Trunn. <br>
Stonepaw and his remaining hares, all rather elderly, hid in the underground passages and catacombs beneath Salamandastron. <br>
However, Trunn's Horde, led by Groddil, managed to track them down. Stonepaw immediately helped his hares into a secret passage, <br>
but stood behind to hold the vermin off while the hares got a head start.<br><br>
Stonepaw slew many vermin in his rage, but it soon became evident that he could never escape with the rest, <br>
for within a short time the vermin wounded him badly and trapped him in a net. <br>
To their surprise, Stonepaw managed to gather his strength and stand, dragging the net and several entangled vermin with him. <br>
He grabbed up as many vermin he could in his paws, and with a final effort leaped into the bottomless pool in the middle of the catacombs, <br>
drowning himself and the vermin he dragged with him.</p>
